{{#partial "content"}}

    <h1 style="font-weight:bold;text-align:center">All Animals reported</h1>

    {{#if pests}}
        {{#each pests}}
            <div class="row">
                <div class="col-sm-6">
                    <div class="well" style="width:40%;opacity:0.8;margin-left:50%;margin-top:7%">
                        <p style="color:black;font-size:25px;font-weight:bold">Animals's name:{{name}} </p>
                        <p style="color:black;font-size:25px;font-weight:bold">Animals's age:{{age}}</p>
                        <p style="color:black;font-size:25px;font-weight:bold">Animals's health:{{health}}</p>
                        <br>
                    </div>
                </div>

            </div>

        {{/each}}

    {{/if}}

{{/partial}}

{{> layout.hbs}}