{{#partial "content"}}

    <p style="text-align:center;color:white;font-size:28px">The animal you reported has been added.<a href="/" style="color:#87ceeb">Back</a></p>


{{/partial}}

{{> layout.hbs}}