{{#partial "content"}}

    {{#if screw}}

        {{#each screw}}



    <div class="container">
        <div class="well" style="width:40%;opacity:0.8;margin-left:50%;margin-top:3%">
            <p style="color:black;font-size:25px;font-weight:bold">Ranger Name:{{rangername}}</p>
            <p style="color:black;font-size:25px;font-weight:bold">Location:{{location}}</p>
        </div>
        </div>

        {{/each}}

    {{/if}}

{{/partial}}

{{> layout.hbs}}